
/* untuk umum */
.main-biru{
    background-color:none;
    padding-top: 6rem;
    padding-bottom: 2px;
}
.main-biru h2 span{
    color: #FFC300;

}
#main-kolaborasi img{
    max-height: 50px;
    max-width: 150px;
}
#main-kolaborasi a {
    display: inline-block;
    word-spacing: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.main-grey{
    background-color: #f9f9f9;
}
.main-grey2{
    background-color: none;
}

.main-blog-info a {
    padding-right: 15px;
    color: #666;
    text-decoration: none;  
}
.main-blog-info a:hover{
    color: #FFC300;
}
#blog .main-blog-info span {
    font-size: 14px;
    padding-left: 15px;
    padding-top: 6rem;

}
#blog a{
    text-decoration: none;
    color: #666;
}
#blog a:hover{
    color: #FFC300;
}